venv/
media/
.idea/
db.sqlite3
**/__pycache__/
apps/category/migrations/0001_initial.py
apps/car/migrations/0001_initial.py
apps/car/migrations/0002_alter_car_car_condition_alter_car_description_and_more.py
apps/accounts/migrations/0001_initial.py

